.post_item {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.tag {
  color: #EB0028;
  font-size: 13px;
  font-weight: 700;
  line-height: 13px;
}

.title {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px
}

.post_details {
  display: flex;
  align-items: center;
  gap: 5px;

  color: #9B9B9B;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;

  .author {
    font-weight: 500;
    color: #000;
  }
}

.text {
  color: #929292;
  font-size: 14px;
  line-height: 20px;
}
